mixin apply-modal
  .reveal.medium.apply-modal(id="applyModal", data-reveal="")
    h2 Apply for SD Hacks 2016
    h3 About You
    form.row#applyForm
      .large-6.small-12.columns
        label First Name
        input(type="text", form="applyForm", placeholder="First Name", required="", name="firstname")
      .large-6.small-12.columns
        label Last Name
        input(type="text", form="applyForm", placeholder="Last Name", required="", name="lastname")

      .large-6.small-12.columns
        label Gender
        select(placeholder="Gender", form="applyForm", required="", name="gender")
          option(value="Male") Male
          option(value="Female") Female
          option(value="Other") Other
      .large-6.small-12.columns
        label Birthdate
        input(type="date", form="applyForm", data-date-format="MM dd yyyy", data-date="", required="", name="birthday")

      .large-6.small-12.columns
        label Email
        input(type="text", form="applyForm", placeholder="Email", required="", name="email")
      .large-6.small-12.columns
        label Phone Number
        .input-group
          span.input-group-label +1
          input.input-group-field(type="text", form="applyForm", placeholder="", required="", name="phonenumber")

      .small-12.columns
        label University
        input(type="text", placeholder="University", class="js-applyForm__universities", form="applyForm", required="", data-dropdown-menu="", name="university")

      .large-6.small-12.columns
        label Major
        input(type="text", form="applyForm", placeholder="Major", class="js-applyForm__majors", required="", name="major")
      .large-6.small-12.columns
        label Year in School
        input(type="number", form="applyForm", placeholder="Year in School", min="1", max="10", value="1", name="schoolyear")

      .large-12.columns
        input(type="submit", form="applyForm", class="success button", value="Next")
    button.close-button(data-close="", aria-label="Close modal", type="button")
      span(aria-hidden="true") &times;

mixin apply-next-modal
  .reveal.medium.apply-next-modal(id="applyNextModal", data-reveal="")
    h2 Apply for SD Hacks 2016
    h3 For SD Hacks
    form.row
      .large-12.columns
        input.js-final(type="submit", form="applyForm", class="success button", value="Apply!")
    button.close-button(data-close="", aria-label="Close modal", type="button")
      span(aria-hidden="true") &times;
