.reveal.large#live-index-map-modal(data-reveal="")
  h2 Venue Map
  img(src="/assets/img/map.png")
  
  button.close-button(data-close="", aria-label="Close reveal", type="button")
    span(aria-hidden="true") &times;