.reveal#user-show-accept-modal(data-reveal="")
  h2 Accept Your Invitation
  .lead I want to accept my invitation to SD Hacks 2016.
  input#js-user-bus(type="checkbox")
  label(for="js-user-bus") Do you want to take the bus at {{location}}
  br 
  button.button#js-user-accept(data-close="", aria-label="Confirm invitation", type="button") Accept
  button.close-button(data-close="", aria-label="Close reveal", type="button")
    span(aria-hidden="true") &times;