.reveal#user-show-decline-modal(data-reveal="")
  h2 Decline Your Invitation
  .lead I am happy to give up my position at SD Hacks 2016 to another applicant.
  button.button.alert#js-user-decline(data-close="", aria-label="Confirm invitation", type="button") Decline
  button.close-button(data-close="", aria-label="Close reveal", type="button")
    span(aria-hidden="true") &times;