.reveal#user-checkin-accept-modal(data-reveal="")
  h2 Check In 
    span#user-checkin-accept-modal__name
  .lead I have read and agree to the terms in the waiver.
  button.button#js-user-accept(data-close="", aria-label="Agree to terms", type="button") Agree
  button.close-button(data-close="", aria-label="Close reveal", type="button")
    span(aria-hidden="true") &times;