container.body-drip
  spacer(size="16")
  div.content
    center
      img.logo(src="https://s32.postimg.org/h7ccn56et/sdhacks2.png")
    row
      columns
        h3 Dear #{user.firstName} #{user.lastName},
        p You have successfully applied to SD Hacks 2016! We just need you to confirm your email by 
          | going to #{confirmUrl}