.js {
  &-apply-form__error {
    display: none;

    &--message {
      color: $alert-color;
      font-size: 1.1em;
      line-height: 3.0em;
    }
  }
}

.apply-form {
  display: none;
  background-color: #EEEEEE;
  padding-top: 150px;
  top: -125px;
  margin-bottom: -75px; /* Due to negative top attribute */
  border-image: url(/assets/img/hexagon_border-light.svg) 250 0 215 repeat;
  border-top-width: 0 !important;
  border-top: none;
  border-style: solid;
  background-clip: padding-box;
  position: relative;

  &__header {
    font-size: 2em;
    text-align: center;

    @media #{$medium-up} {
      font-size: 3.0em;
    }

    &--close {
      color: $dark-gray;
      cursor: pointer;
      float: right;
      outline: none;
      line-height: 1.4em;

      &:hover {
        color: darken($dark-gray, 20%);
      }
    }

    &--close-text {
      font-size: 0.2em;
      line-height: 0;
      display: block;
      margin-top: -10px;

      @media #{$medium-up} {
        height: 10px;
      }
    }
  }

  &__required {
    &::after {
      content: "*";
      color: $alert-color;
      font-weight: bold;
      font-size: 1.4em;
      line-height: 1.0em;
    }
  }

  &__bullet {
    cursor: pointer;
  }

  &__container {
    outline: 0;

    &--header {
      font-size: 1.8em;
    }
    &--subheader {
      font-size: 1.4em;
    }

    input:not([type="submit"]):not([type="file"]):not([type="button"]), textarea, select {
      &:not(:disabled) {
        background-color: #fdfdfd !important;
      }

      &[type=file] {
        background-color: transparent !important;
      }
      &#submitApp {
        margin-right: 10px;
      }
    }

    label {
      margin-left: 2px;
    }
  }

  textarea, select, input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="tel"] {
    background: lighten($white, 2%);

    &:focus {
      outline: none;
    }
  }
  input[type="checkbox"] {
    margin-bottom: 0;
  }

  &__nav-button {

    &:nth-child(1) {
      margin-top: 6px;
      margin-right: 6px;
    }

    &:nth-child(2) {
      margin-top: 6px;
    }

    &:focus {
      outline: none;
    }
  }

  &__slide-content {
    margin-top: 20px;
  }
}
