.js {
  &-apply-modal__error {
    display: none;
  }
}
.center {
    text-align: center;
}
.apply-modal {

  &__required {
    &::after {
      content: "*";
      color: $alert-color;
      font-weight: bold;
      font-size: 1.4em;
      line-height: 1.0em;
    }
  }
  .ui-menu-item {
    background-color: #fff;
    padding: 2px;
    margin-right: 2.2rem;
    cursor: pointer;

    &:hover {
      background-color: $white;
    }

    @media screen and (max-width: 640px) {
      margin-right: 1.5rem;
    }
  }
}
.apply-modal,
.apply-next-modal {
  h2 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  input:not([type="submit"]), textarea {
    background-color: #fff;

    &[type=file] {
      background-color: transparent;
    }
    &#submitApp {
      margin-right: 10px;
    }
  }
}