.subscribe {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  font-size: 24px;
  line-height: 54px;
  border-radius: 8px; 
  color: white;
  box-sizing: border-box; 
  height: 54px; 
  padding: 0 10px;
  cursor: pointer;
  background-color: white;
  position: relative;
  margin: auto;
  box-shadow: 0 3px 8px rgba(0,0,0,0.5);
  font-weight: bold;

  &--email {
    border: 0 !important;
    width: 100%;
    background: transparent !important;
    font-size: 22px;
    line-height: 30px;
    padding: 12px 31% 12px 8px;
    margin: 10px;
    margin-left: -10px;
    box-shadow: none !important;

    // &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //   color: $PURPLE_1;
    //   font-family: $REEM_KUFI;      
    // }
    // &::-moz-placeholder { /* Firefox 19+ */
    //   color: $PURPLE_1;
    //   font-family: $REEM_KUFI;      
    // }
    // &:-ms-input-placeholder { /* IE 10+ */
    //   color: $PURPLE_1;
    //   font-family: $REEM_KUFI;      
    // }
    // &:-moz-placeholder { /* Firefox 18- */
    //   color: $PURPLE_1;
    //   font-family: $REEM_KUFI;
    // }
  }
  &--button {
    cursor: pointer;
    border: 0;
    position: absolute;
    right: 0;
    min-width: 100%;
    transition: all 0.3s ease-in-out;
    // color: $WHITE;
    background-color: #19A3C5;
    height: 100%; 
    padding: 0;
    line-height: 54px;
    // border-radius: $BUTTON_RADIUS;
    border-radius: 8px;
    // font-family: $REEM_KUFI;
    text-transform: uppercase;

    &:hover {
      background-color: #19A3C5;
    }
  }
}
#sdhx-email,
#sdhx-subscribe {
  min-width: 100%;

  &.no-opacity {
    display: none;
  }
}
#sdhx_signup {
  position: relative;
  top: 3px;
}