$hero-hex-radius: 110px;
$hero-mobile-hex-radius: 50px;

$hero-hex-count: 5;
$hero-mobile-hex-count: 5;

$hero-size: 1.5 * $hero-hex-count * $hero-hex-radius;
$hero-size-mobile: 1.5 * $hero-mobile-hex-count * $hero-mobile-hex-radius;

$hero-background: #313131;
$empty-hex-colour: lighten($hero-background, 10);

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: $hero-size-mobile;
  top: 0;

  @media #{$medium-up} {
    height: $hero-size;
  }

  &__background-mesh {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  &__hexagon {
    fill: $body-background;
    pointer-events: all;

    path {
      -webkit-transition: fill 250ms linear;
      transition: fill 250ms linear;
      stroke: $hero-background;
      stroke-width: 2px;

      &:after {
        background-color: #444;
        content: "";
        width: 100%;
      }
    }

    &--bg {
      fill: $body-background;

      &-filled {
        fill: $primary-color;
      }
    }   

    &--featured {
      fill: url(/#logo) !important;
    }

    &--empty {
      fill: url(/#empty);

      &-colour {
        fill: $empty-hex-colour;
      }
    }

    &--empty:hover:not(&--filled) {
      fill: url(/#hover);
    }

    &--hover-colour {
      fill: lighten($hero-background, 30);
    }

    &--filled {
      fill: url(/#filled);

      &-colour {
        fill: $primary-color;
      }
    }

    &--stroke {
      fill: $hero-background;
    }

    &--border {
      fill: url(/#border);

      &-colour {
        fill: $hero-background;
      }
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 150px;
    pointer-events: none;

    @media #{$medium-up} {
      height: 350px;  
    }

    h1 {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      color: $warning-color;
    }

    a {
      pointer-events: auto;
      width: 200px;
      line-height: 10px;
      text-transform: uppercase;
      font-weight: bold;
      border: 3px $white solid;

      &:first-of-type {
        margin-right: 15px;
      }

      &:nth-of-type(2) {
        background-color: transparent;

        &:hover {
          background-color: scale-color($button-background, $lightness: -15%);
        }
      }
    }
  }
}