.hero {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;

  &__background-mesh {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  &__hexagon {
    fill: $background;
    pointer-events: all;

    path {
      -webkit-transition: fill 250ms linear;
      transition: fill 250ms linear;

      &:hover {
        fill: lighten($primary, 15);
      }
    }

    &--bg {
      fill: $background;

      &-filled {
        fill: $primary;
      }
    }   

    &--featured {
      fill: url(#logo);

      &-filled {
        fill: url(#logo-filled);
      }
    }

    &--filled {
      fill: $primary;
    }
  }

  &__mesh {
    fill: none;
    stroke: $white;
    stroke-width: 2px;
    stroke-opacity: .3;
    pointer-events: none;
  }

  &__border {
    fill: none;
    stroke: $white;
    stroke-width: 3px;
    pointer-events: none;

    &--bottom {
      fill: none;
      stroke: $white;
      stroke-width: 3px;
      pointer-events: none;
    }
  }
}