.live-index-wrapper {
  background-color: #eeeeee;
}
.live-prizes {

  &__content {
    padding-top: 20px;

    @media #{$medium-up} {
      padding-top: 75px;
    }
    h2 {
      text-transform: none;
      text-align: left;
      padding-bottom: 15px;
    }
    hr {
      margin: auto;
      padding: 20px;
      border: 0;
      height: 1px;
      background: #333;
      background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
  }
  &__item {
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
    margin-bottom: 1.2em;
    background-color: #f9f9f9;

    &--paragraph {
      margin: 0;
    }
    &--link {
      color: $primary-color;
      margin-right: 1.3rem;
      transition: color 0.3s ease;
      text-decoration: none;
    }
    &--title {
      line-height: 3rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
    &--content {
      padding: 1.3rem;
      font-weight: 300;
      font-size: 0.9em;
      border-radius: 0 0 2px 2px;
    }
    &--action {
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      padding: 1.3rem;
    }
    &--image {
      position: relative;

      img {
        border-radius: 2px 2px 0 0;
        width: 100%;
      }
    }
    &--image-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
  }
}
