.live-index {
  &__row {
    @media #{$medium-up} {
      padding-top: 50px;
    }
  }

  &__full-height {
    height: 100%;
  }

  &__grid {
    .twitter-grid {
      height: 100% !important;
    }
  }
}
.live-home {
  &--header {
    background: linear-gradient(rgba(61, 163, 163, 0.4), rgba(10, 10, 115, 0.4)), url("/assets/img/live-background.jpg") no-repeat center center;
    // background: linear-gradient(rgba(10, 10, 115, 0.4), #106F87), url("/assets/img/live-background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 80px;

    @media #{$small-only} {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }
}
.live-schedule {
  &--home {
  }
}
.live-content {
  &--date {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 
    0 -1px 5px rgba(0, 0, 0, 0.7),
    0 5px 10px rgba(0, 0, 0, 0.5);

    @media #{$small-only} {
      font-size: 28px;
    }
  }

  &--place {
    @media #{$small-only} {
      font-size: 24px;
      padding-bottom: 5%;
    }
    color: $warning-color;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 
    0 -1px 3px rgba(0, 0, 0, 0.7), 
    0 2px 7px rgba(0, 0, 0, 0.5);
  }
}
.countdown-hexes {
  .hex {
    background: url("/assets/img/hex2.svg");
    width: 155px;
    height: 165px;
    margin: 1rem;
    background-size: cover;
    display: inline-block;
    color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: light;
    padding-top: 10px;

    p {
      font-size: 20px;
    }
    @media #{$small-only} {
      font-size: 24px;
      width: 78px;
      height: 83px;
      line-height: 30px;
    }
  }
}
.footer-live {
  border: none;
}
