.live-schedule {
  font-size: 1.2rem;
  padding-bottom: 95px;

  @media #{$medium-up} {
    padding-top: 45px;
  }
  &__date {
    text-align: right;
  }
  &__date,
  &__title {
    font-size: 2.5rem;
    color: $sdhacks-alternate-blue;
    line-height: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  &__event {
    margin-bottom: 0.8rem;

    &--time {
      line-height: 2rem;
    }

    &--link {
      color: $sdhacks-alternate-blue;
    }

    &--info {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: bold;
    }

    &--location {
      color: transparentize($black, 0.5);
    }
  }
}
