.live-home {
  &__header {
    background: linear-gradient(rgba(61, 163, 163, 0.4), rgba(10, 10, 115, 0.4)), url("/assets/img/live-background.jpg") no-repeat center center;
    // background: linear-gradient(rgba(10, 10, 115, 0.4), #106F87), url("/assets/img/live-background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 80px;

    @media #{$small-only} {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }
}