.sponsor-show {
  &__filter-option {
    display: block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    input {
      margin-bottom: 0;
      position: relative;
      left: 10px;
    }

    label {
      margin: 0;
      left: 0;
      padding-left: 30px;
      right: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      padding-top: 10px;
    }
  }
}