.user-show {
  &__container {
    @media #{$medium-up} {
      padding-top: 1.5em;
    }
  }

  &__disclaimer {
    top: 0;
    background-color: darken($white, 5%);
    width: 100%;
    padding-top: 10px;
  }

  &__logo {
    display: block;
    max-width: 125px;
    padding-right: 15px;

    @media #{$medium-up} {
      padding-right: 0;
      max-width: 200px;
    }
  }

  &__name {
    font-size: 1.5em;
  }

  &__details {
    padding-top: 10px;
    list-style: none;
    margin-left: 0;

    &--item {
      line-height: 1.9em;

      i {
        margin-right: 10px;
        min-width: 20px;
      }

      .editable {
        cursor: pointer;

        * {
          display: inline;
        }
      }
    }

    .fa-edit {
      margin-left: 10px;
      display: none;
    }

    &--item:hover .fa-edit {
      display: inline-block;
    }
  }

  &__questions {
    background-color: $white;

    &--padded {
      margin-top: 2.0em;
    }

    &--edit {
      line-height: 3.0em;
    }
  }

  &__question, &__answer {
    padding: 10px 0;
  }

  &__question {
    max-width: 15em;
    font-weight: 600;
  }

  &__button {
    &--pad {
      margin-right: 5px;
    }

    &--top-pad {
      margin-top: 5px;
    }
  }

  &__answer {
    display: inline-block;
    cursor: pointer;

    form {
      display: inline;
    }

    &--error {
      color: $alert-color;
      margin-left: 10px;
    }

    &--success {
      color: $primary-color;
      margin-left: 10px;
    }

    &--file {
      input:first-child {
        margin-bottom: 5px;
      }
    }

    &--column {
      &:hover {
        background-color: lighten($white, 5%);
      }
    }

    &--short {
      line-height: 16px;
      padding-bottom: 8px;
    }

    &--no-bg {
      &:hover {
        background-color: $white;
      }
    }

    &--highlight {
      font-weight: bold;
    }
  }
}