.user-admin {
  &__container {
    @media #{$medium-up} {
      padding-top: 1.5em;
    }
  }

  &__header {
    text-align: left;
  }

  &__logo {
    display: block;
    max-width: 125px;
    padding-right: 15px;

    @media #{$medium-up} {
      padding-right: 0;
      max-width: 200px;
    }
  }

  &__output {
    margin-left: 15px;
    background-color: $body-font-color;

    &:hover {
      background-color: inherit;
    }
  }
}