# Ignore images on the root (Logos & stuff)
/*.jpg
/*.jpeg
/*.png

#Ignore NPM's debug log
npm-debug.log

# Commonly ignored folders
node_modules
static/assets/bower/bower_components

sdhacks2016.sublime-project
sdhacks2016.sublime-workspace
.env
.DS_Store
entities/.DS_Store
static/assets/js/dist/
sdhacks.min.css
build/config.gypi
public/
acceptances/
*.csv
