// SaSS Style code goes here

// Base styles for the boilerplate, here
// you can modify or remove things as you like...

// Template-wide styles
$background: #E9E9E9;
$primary: #757575;
$highlight: #1589e2;
$white:  #f2f2f2;
$href: #337ab7;
$href-hover: #23527c;

@mixin shadows {
  -webkit-box-shadow:inset 0 0 8px 1px rgba(0,0,0,0.1);
  box-shadow:inset 0 0 1px 1px rgba(0,0,0,0.1);
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin margins($top, $right) {
  margin-top: $top;
  margin-right: $right;
}

body {
  padding-top: 20px;
  background-color: $background;
  color: $primary;
  font-family: Sans-Serif;
  font-size: 1.5em;
}

.mean-div {
  background-color: $white;
  @include shadows;
  @include rounded-corners(10px);
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.myhref {
  text-decoration: none;
  color: $href;
  &:active {text-decoration: none; color: $href;}
  &:focus {text-decoration: none; color: $href;}
  &:hover {text-decoration: none; color: $href-hover;}
  &:visited {text-decoration: none; color: $href;}
}


#logo {
  float: left;
  @include margins(10px, 10px);
  width: 95px;
  height: auto;
}

.mean {
  color: $highlight;
}

#demoinput {
  margin-left: 100px;
}

#texti {
  background-color: $white;
  color: $primary;
}

// Home view styles
.tips {
  font-size: 16px;
  margin-left: -15px;
  li { font-size: 18px; margin-bottom: 2px;}
}

.topicons {
  @include margins(25px, 5px);
}

#bitcoinicon {
  color: #f9a745;
}

#twittericon {
  color: #00aced;
}

#githubicon {
  color: #171515;
}

#userlog {
  position: absolute;
  right: 15px;
}

// Custom styles...
