//Include fonts
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300,200';

//Include Foundation
@import 'foundation-sites/foundation.scss';
@include foundation-everything(true);

@import 'bem.scss';

$faq_bgcolor: #026F88;
$faq_color: lighten(#F8C773, 18);

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
}

p {
  font-size: 1.1em;
}

footer {
  border-image: url(/assets/img/hexagon_border-dark-grey.svg) 250 0 215 repeat;
  border-style: solid;
  border-bottom-width: 0px !important;
  background-clip: padding-box;
  background-color: #313131;
  text-align: center;
  color: $white;
  padding-bottom: 20px;
  bottom: 0;
  position: relative;

  p {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  a {
    line-height: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  @media #{$large-up} {
    height: 230px;
  }

  @media #{$medium-up} {
    img {
      margin-top: 4px;
    }

    p {
      line-height: 50px;
    }
  }

  .aligned {
    margin-top: 37px;
  }
}

.last-year {
  text-align: center;

  .stat {
    font-size: 36pt;
    font-weight: 300;

    @media #{$medium-up} {
      font-size: 72pt;
    }

    &--blue {
      color: darken($primary-color, 10);
    }

    &--yellow {
      color: darken($warning-color, 10);
    }
  }
}

.bordered {
  border-image: url(/assets/img/hexagon_border-dark.svg) 250 0 215 repeat;
  border-style: solid;
  background-color: $faq_bgcolor;
  background-clip: padding-box;
  color: $white;
  padding-top: 50px;
  margin: 50px 0 75px;
  position: relative;

  h2 {
    margin-bottom: 35px;
  }

  h3 {
    // color: lighten($black, 25);
    margin-top: 10px;
    color: $faq_color;
  }

  p {
    color: $white;
  }

  a {
    color: inherit;
    border-bottom: 2px solid #fceaca;
    padding: 0 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }

  .tesc {
    max-width: 300px;
  }

  .tesc {
    max-width: 300px;
  }
  
  &--bg {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #026F88;
    z-index: -5;

    &.bg-top {
      top: -15px;

      &.footer-bg {
        background-color: #313131;
      }
    }

    &.bg-bottom {
      bottom: -15px;
    }
  }

  @media #{$medium-up} {
    .faq-left {
      padding-right: 20px;
    }
    .faq-right {
      padding-left: 20px;
    }
  }
}

.faq {
  color: $faq_color;
}

.sponsor-interest {
  text-align: center;
  font-size: 1.1em;
}

.sponsors {
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;

  img {
    padding: 0 12px;
    margin-bottom: 40px;
    display: inline-block;
    max-width: 100%;
  }
  .platinum img {
    height: 75px;

    @media #{$medium-up} {
      height: 95px;
    }

    #logo-qualcomm {
      height: 80px;
    }
  }
  .gold img {
    height: 60px;

    @media #{$medium-up} {
      height: 80px;
    }
  }
  .silver img {
    height: 45px;

    @media #{$medium-up} {
      height: 50px;
    }
  }
  .bronze img {
    height: 32px;
    @media #{$medium-up} {
      height: 40px;
    }
  }

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.social-media {
  font-size: 18pt;
  @media #{$medium-up} {
    font-size: 28pt;
  }

  a:not(:last-child) {
    margin-right: 20px;
  }

  a i {
    color: white;

    &:hover {
      color: #19A3C5;
    }
  }
}

.spinner {
  display: inline-block;
  position: relative;
  top: 12px;
  width: 50px;
  height: 28px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primary-color;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 1px;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.ui-autocomplete {
  border-radius: $global-radius;

  .ui-menu-item {
    background-color: #fdfdfd;
    padding: 5px 10px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    &:first-child {
      border-radius: $global-radius $global-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $global-radius $global-radius;
    }

    &:hover {
      background-color: $white;
    }

    @media screen and (max-width: 640px) {
      margin-right: 1.5rem;
    }
  }
}

.ui-helper-hidden-accessible{display:none}

.slick-list {
  overflow-y: visible !important;
  height: auto !important;
}

.form-error {
  display: block;
  margin: 0;
  font-weight: 400;
  position: relative;
  top: -1em;
  font-size: 0.8em;
}