//Include fonts
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300,200';

//Include Foundation
@import 'foundation-sites/foundation.scss';
@include foundation-everything(true);

@import 'bem.scss';

$faq_bgcolor: #026F88;
$faq_color: lighten(#F8C773, 18);

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
}

p {
  font-size: 1.1em;
}

footer {
  border-image: url(/assets/img/hexagon_border-dark.svg) 250 0 215 repeat;
  border-style: solid;
  border-bottom-width: 0px !important;
  background-clip: padding-box;
  background-color: #106F87;
  text-align: center;
  color: $white;
  padding-bottom: 20px;
  bottom: 0;
  position: relative;

  @media #{$large-up} {
    height: 190px;
  }

  @media #{$medium-up} {
    img {
    }

    p {
      line-height: 50px;
    }
  }
}

.last-year {
  text-align: center;

  .stat {
    font-size: 36pt;
    font-weight: 300;

    @media #{$medium-up} {
      font-size: 72pt;
    }

    &--blue {
      color: darken($primary-color, 10);
    }

    &--yellow {
      color: darken($warning-color, 10);
    }
  }
}

.bordered {
  border-image: url(/assets/img/hexagon_border-dark.svg) 250 0 215 repeat;
  border-style: solid;
  background-color: $faq_bgcolor;
  background-clip: padding-box;
  color: $white;
  padding-top: 50px;
  margin: 50px 0 75px;
  position: relative;

  h2 {
    margin-bottom: 35px;
  }

  h3 {
    // color: lighten($black, 25);
    color: $faq_color;
  }

  p {
    color: $white;
  }

  a {
    color: lighten($primary-color, 15);
  }
  
  &--bg {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #026F88;
    z-index: -5;

    &.bg-top {
      top: -15px;

      &.footer-bg {
        background-color: #106F87;
      }
    }

    &.bg-bottom {
      bottom: -15px;
    }
  }

  @media #{$medium-up} {
    .faq-left {
      padding-right: 20px;
    }
    .faq-right {
      padding-left: 20px;
    }
  }
}

.faq {
  color: $faq_color;
}

.sponsor-interest {
  text-align: center;
  font-size: 1.1em;
}

.sponsors {
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;

  img {
    padding: 0 12px;
    margin-bottom: 40px;
    display: inline-block;
    max-width: 100%;
  }
  .platinum img {
    height: 75px;

    @media #{$medium-up} {
      height: 105px;
    }
  }
  .gold img {
    height: 60px;

    @media #{$medium-up} {
      height: 85px;
    }
  }
  .silver img {
    height: 45px;
    @media #{$medium-up} {
      height: 65px;
    }
  }
  .bronze img {
    height: 36px;
    @media #{$medium-up} {
      height: 50px;
    }
  }

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.social-media {
  font-size: 18pt;
  @media #{$medium-up} {
    font-size: 28pt;
  }

  a:not(:last-child) {
    margin-right: 20px;
  }

  a i {
    color: white;

    &:hover {
      color: #19A3C5;
    }
  }
}

.ui-autocomplete {
  border-radius: $global-radius;

  .ui-menu-item {
    background-color: lighten($white, 2%);
    padding: 0 5px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    &:first-child {
      border-radius: $global-radius $global-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $global-radius $global-radius;
    }

    &:hover {
      background-color: $white;
    }

    @media screen and (max-width: 640px) {
      margin-right: 1.5rem;
    }
  }
}

.ui-helper-hidden-accessible{display:none}
