//- Accepted Page
extends layout

block content
  .container-fluid.accepted
    .centered.column.row
      img.logo(src="/assets/img/logo.png", alt="SD Hacks 2016")
      br
      br
      h1 See you at SD Hacks 2016!

