//- Homepage
//- include mixins/apply
include mixins/footer
include mixins/hero/hero
include mixins/hero/patterns

extends layout

block content
  +hero
  //- +apply

  .row
    .small-12.large-8.large-offset-2.end.columns
      h2 About
      p SD Hacks 2016 will be the second iteration of UC San Diego’s 36-hour, 1,000 student hackathon. We’ll take care of providing you with the best workshops, mentorship, hardware, food, internet, swag and job opportunities out there. We’re also going to have additional resources for Virtual Reality and Hardware hackers. Just be prepared to learn a lot, make new friends, and have an incredible weekend!
      .flex-video
        iframe(src="https://www.youtube.com/embed/70n1yu3BNsE", frameborder="0", allowfullscreen="")

  .row
    .small-12.large-8.large-offset-2.end.columns
      p.section-header This year, SD Hacks will bring awesome workshops and mentors onsite to help you get the most out of the following resources.
      .row.about-columns
        .small-12.medium-4.columns.about-column
          .row
            .small-5.medium-12.columns.about-column-img
              img(src="/assets/img/VR.png")
            .small-7.medium-12.columns.about-column-text-wrap
              .about-column-text
                h4 Virtual Reality
                p We will provide HTC Vives, Oculus Rifts, and VR-ready PC's for Virtual Reality developers!
        .small-12.medium-4.columns.about-column
          .row
            .small-5.medium-12.columns.about-column-img
              img(src="/assets/img/Makerspace.png")
            .small-7.medium-12.columns.about-column-text-wrap
              .about-column-text
                h4 Making
                p Visit our maker space to get help with your hardware hacks. 3D printers will be available.
        .small-12.medium-4.columns.about-column
          .row
            .small-5.medium-12.columns.about-column-img
              img(src="/assets/img/App.png")
            .small-7.medium-12.columns.about-column-text-wrap
              .about-column-text
                h4 Dev Resources
                p We'll have sponsors with API's and experienced mentors to help you learn and make your apps shine.
  .bordered-grey.js-bordered.schedule-wrapper
    .bordered-grey--bg.bg-top
    .row
      .small-12.large-8.large-offset-2.end.columns
        .live-schedule.live-schedule--home#schedule
          .row
            .live-schedule__date.small-4.medium-5.end.columns 9.30
            .live-schedule__title.small-5.medium-5.end.columns Friday
            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 4:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Sponsor Registration
                .live-schedule__event--location @ Outside 1st Floor Lobby

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Hacker Registration
                .live-schedule__event--location @ Main Stage

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Dinner
                .live-schedule__event--location @ Lobby

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:30 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Mixer
                .live-schedule__event--location @ RIMAC Field

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 9:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Opening Ceremony
                .live-schedule__event--location @ Main Stage

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:15 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Hacking Begins
                .live-schedule__event--location @ First Floor, Rimac Arena

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:15 PM - 1:15 AM
              .small-8.medium-7.columns
                .live-schedule__event--info DragonBoard Workshop
                .live-schedule__event--location @ Green Room

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:15 PM - 1:15 AM
              .small-8.medium-7.columns
                .live-schedule__event--info VR Workshop
                .live-schedule__event--location @ Dugout

            .live-schedule__date.small-4.medium-5.end.columns 10.1
            .live-schedule__title.small-5.medium-5.end.columns Saturday
            
            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:00 AM - 3:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info 3D Printing/CAD Workshop
                .live-schedule__event--location @ Maker Space

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:30 AM - 6:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info iOS Workshop
                .live-schedule__event--link 
                  a(href="/assets/iOS Setup Guide.pdf") Pre-workshop Installation Instructions
                .live-schedule__event--location @ Green Room

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 2:00 AM - 3:30 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Node Workshop
                .live-schedule__event--location @ The Dugout
                
            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Breakfast
                .live-schedule__event--location @ Lobby

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Lunch
                .live-schedule__event--location @ Lobby

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Dinner
                .live-schedule__event--location @ Lobby

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Ice Cream Party
                .live-schedule__event--location @ Outside

            .live-schedule__date.small-4.medium-5.end.columns 10.2
            .live-schedule__title.small-5.medium-5.end.columns Sunday
            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 12:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Origami Workshop
                .live-schedule__event--location @ Green Room

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 4:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info MLH Activities
                .live-schedule__event--location @ Green Room

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info MLH Activities
                .live-schedule__event--location @ Green Room

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Breakfast
                .live-schedule__event--location @ Lobby

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:15 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Hacks Due
                .live-schedule__event--location @ First Floor, Rimac Arena

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 10:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Early Lunch
                .live-schedule__event--location @ Outside

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:00 AM
              .small-8.medium-7.columns
                .live-schedule__event--info Initial Demoes
                .live-schedule__event--location @ First Floor, Rimac Arena

            .live-schedule__event.row
              .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:00 PM
              .small-8.medium-7.columns
                .live-schedule__event--info Closing Ceremony
                .live-schedule__event--location @ Main Stage
                
    .bordered-grey--bg.bg-bottom
  .bordered.js-bordered
    .bordered--bg.bg-top
    .bordered--bg.bg-bottom
    .row
      .small-12.large-8.large-offset-2.end.columns
        h2.faq FAQ
        .row
          .small-12.medium-6.columns.faq-left
            .qa
              h3 What is a hackathon?
              p A hackathon is an event, typically lasting
                | multiple days, in which a large number of
                | people meet to collaboratively build out their
                | ideas using technology. We'll be partaking in 
                a(href="https://en.wikipedia.org/wiki/Hacker_culture") this
                |  kind of hacking, not 
                a(href="https://www.youtube.com/watch?v=hkDD03yeLnU") this
                |  kind.
            .qa
              h3 Who can attend?
              p Any college or high school students over 18 years of age from anywhere in the world are eligible. This includes graduate students, but be sure to understand any agreements you’ve made with your university with regards to research and IP. If you are enrolled at a UC campus but not yet 18, you are also eligible to participate. We wish we could invite minors but unfortunately cannot for legal reasons.
            .qa
              h3 What should I bring?
              p Bring your student ID, computer, any external peripherals you may need (chargers, monitors, etc.), any other hardware that you definitely plan on using, and an open mind. Also bring a change of clothes, a toothbrush, and any other toiletries you may need. You may also bring a sleeping bag if you plan to nap.
            .qa
              h3 When should I show up and when should I leave?
              p You should plan to arrive at the hackathon late Friday evening and to leave early Sunday afternoon. A detailed schedule will be released closer to the event date.
            .qa
              h3 What if I don't have a team?
              p We allow teams of up to four hackers. If you’re concerned that you may not have a team going in, no worries! We will host a team formation event at the beginning of the hackathon so that no one has to hack alone (unless they want to). If you do have a team, we will do our best to accept you all. Make sure ALL members apply and include all other members’ addresses in their applications.
          .small-12.medium-6.columns.faq-right
            .qa
              h3 How do I get there?
              p We will send buses to most-- if not all-- undergraduate UC campuses. Unfortunately, we will not be able to provide any reimbursements to those traveling from outside of California.
            .qa
              h3 Do I have to pay to get in?
              p Nope!
            .qa
              h3 How can I help?
              p Please email us at 
                a(href="mailto:hello@sdhacks.io") hello@sdhacks.io 
                |  if you have a question not listed here or if
                | you’re interested in helping out!
            .qa
              h3 Are there any rules?
              p
                | As a Major League Hacking member event, we are
                | adopting Major League Hacking’s 
                a(href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf") Code of Conduct 
                |  which requires you to respect others and help
                | us keep SD Hacks a safe space for everyone. If
                | you want your project to be considered for an
                | award, you may only submit work that your team
                | wrote during the hackathon.
            .qa
              h3 Do I have to pay for parking?
              p Yes, parking permits are $2 per hr on Friday evening up to 11pm. After 11pm on Friday, parking is free for the weekend. The closest parking to RIMAC Arena is the Hopkins Parking Structure shown below.
              a(target="_blank" href="https://www.google.com/maps/dir/Hopkins+Parking+Structure,+San+Diego,+CA/32.88572,-117.2395146/@32.8845998,-117.2418115,769m/data=!3m2!1e3!4b1!4m9!4m8!1m5!1m1!1s0x80dc06c1e6156103:0xc6690b999c002d97!2m2!1d-117.2394097!2d32.8837678!1m0!3e2")
                img(src="/assets/img/hopkins_map.png")

  .row
    .small-12.large-8.large-offset-2.end.columns
      h2 Sponsors
      h4.sponsor-interest Interested in
        b sponsoring
        | ? Contact us at
        b
          a(href="mailto:sponsor@sdhacks.io") sponsor@sdhacks.io
  .row
    .small-10.small-offset-1.columns
      .sponsors
        .platinum
          a#logo-viasat(target="_blank" href="https://www.viasat.com/")
            img.viasat(src="/assets/img/sponsors/viasat.png")
          a#logo-qualcomm(target="_blank" href="https://www.qualcomm.com/")
            img.qualcomm(src="/assets/img/sponsors/qualcomm.png")
          a#logo-perkinscoie(target="_blank" href="https://www.perkinscoie.com")
            img(src="/assets/img/sponsors/perkinscoie.png")
          a#logo-spawar(target="_blank" href="http://www.spawar.navy.mil")
            img(src="/assets/img/sponsors/spawar.png")
        .gold
          a#logo-jsoe(target="_blank" href="http://jacobsschool.ucsd.edu/")
            img.logo-jsoe(src="/assets/img/sponsors/ucsd_jacobs_logo_blue.png")
          a#logo-edc(target="_blank" href="http://www.sandiegobusiness.org/")
            img.logo-edc(src="/assets/img/sponsors/edc.png")
          a#logo-oic(target="_blank" href="http://invent.ucsd.edu/invent/")
            img.logo-oic(src="/assets/img/sponsors/ucsd_oic_logo.png")
          a#logo-cse(target="_blank" href="http://www.cs.ucsd.edu/")
            img.logo-cse(src="/assets/img/sponsors/ucsd_cse_logo.png")
          a#logo-qi(target="_blank" href="http://qi.ucsd.edu/")
            img.logo-qi(src="/assets/img/sponsors/qi.png")
          a#logo-qi(target="_blank" href="https://www.twitch.tv")
            img.logo-qi(src="/assets/img/sponsors/twitch.png")
        .silver
          a#logo-ucsdalum(target="_blank" href="http://www.alumni.ucsd.edu/")
            img.ucsdalum(src="assets/img/sponsors/ucsd_alumni_logo.png")
          a#logo-iboss(target="_blank" href="https://www.iboss.com/")
            img.iboss(src="/assets/img/sponsors/iboss-cybersecurity.png")
          a#logo-gigabyte(target="_blank" href="http://www.gigabyte.us")
            img.logo-gigabyte(src="/assets/img/sponsors/gigabyte.png")
          a#logo-ga(target="_blank" href="http://www.ga.com/")
            img.logo-ga(src="/assets/img/sponsors/general_atomics.jpg")
        .bronze
          a#logo-1517(target="_blank" href="http://www.1517fund.com/")
            img.logo-1517(src="assets/img/sponsors/1517.png")
          a#logo-a16z(target="_blank" href="http://www.a16z.com/")
            img.logo-a16z(src="assets/img/sponsors/a16z.png")
          a#logo-rady(target="_blank" href="http://rady.ucsd.edu/")
            img.logo-rady(src="assets/img/sponsors/ucsd_rady.png")
          a#logo-nanovr(target="_blank" href="http://www.nanovr.com/")
            img.logo-nanovr(src="assets/img/sponsors/nanovr.png")

        .bronze
          a#logo-pickupstix(target="_blank" href="https://www.pickupstix.com/index.php")
            img(src="assets/img/sponsors/pickupstix.jpg")
          a#logo-cubibot(target="_blank", href="http://www.cubibot.com/")
            img.logo-cubibot(src="assets/img/sponsors/cubibot.png")
          a#logo-docusign(target="_blank", href="https://www.docusign.com/")
            img.logo-docusign(src="assets/img/sponsors/docusign.png")
          a#logo-sparkpost(target="_blank", href="https://www.sparkpost.com/")
            img.logo-sparkpost(src="assets/img/sponsors/sparkpost.png")
          a#logo-landiego(target="_blank", href="https://landiego.com/")
            img.logo-landiego(src="assets/img/sponsors/landiego.png")

        .t-shirts
          p T-Shirts provided by:
          a#logo-shirts(target="_blank" href="http://collegewearinc.com")
            img(src="assets/img/sponsors/collegeworks.png")
  +footer
  +patterns
  include mixins/modals/live-index-map
