//- Homepage
include mixins/hero/hero

extends layout

block content
  +hero
  .row
    .small-12.large-8.large-offset-2.end.columns
      h2 About
      p.about Lorizzle ipsum dolizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle amizzle, consectetuer fo shizzle fizzle. Nullizzle pot velit, dizzle volutpizzle, suscipit quizzle, bling bling vizzle, arcu. Fizzle eget check out this.

      h2 Last Year
      p Last year, SD Hacks brought over 800 students from all over California together to build great things.
        .row.last-year
          .small-4.columns
            span.stat.stat--blue 1.2K
            p Hackers
          .small-4.columns
            span.stat.stat--blue 28
            p Sponsors
          .small-4.columns
            span.stat.stat--yellow $18K
            p Prizes
      p This year, SD Hacks intends to become bigger and greater than ever before.

      h2 Where?
      p Praesent non mi nizzle mah nizzle bow wow wow break yo neck, yall. Crunk lacinia viverra lectizzle. Crizzle izzle own yo' et leo sodalizzle doggy. Aliquizzle lobortis, 
        b maurizzle mofo.

  .bordered.js-bordered
    .row
      .small-12.large-8.large-offset-2.end.columns
        h2 FAQ
        .row
          .small-6.columns
            h3 What is a hackathon?
            p Vivamizzle stuff mauris pimpin' nisi for sure pretizzle. Vivamus sizzle sizzle dizzle. Nam eu shut the shizzle up shiznit fizzle fo shizzle. Praesent boom shackalack viverra you son of a bizzle. Curabitur owned arcu. We gonna chung shit crazy, auctor shit, congue that's the shizzle, dignissizzle nizzle, libero.
          .small-6.columns
            h3 What should I bring?
            p Nullam vitae for sure nizzle erizzle posuere daahng dawg. Quisque da bomb tortizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle fo shizzle, auctor a, for sure sizzle things, erat. Mammasay mammasa mamma oo sa izzle dui. Aliquizzle shizznit purizzle, get down get down consectetuer, ass izzle, crazy imperdizzle, ghetto.
          .small-6.columns
            h3 What if I don't have a team?
            p My shizz dope crackalackin doggy mi rutrizzle vehicula. Boom shackalack accumsizzle sagittizzle daahng dawg. Owned habitant crazy check it out cool et doggy izzle i saw beyonces tizzles and my pizzle went crizzle famizzle ac bizzle hizzle.
          .small-6.columns
            h3 How do I get there?
            p In crackalackin. Curabitizzle gizzle. Check out this eros felizzle, semper quizzle, shizzlin dizzle izzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle pulvinizzle.
          .small-6.columns
            h3 How much does it cost?
            p Maecenizzle da bomb gangsta. Nam eros. You son of a bizzle condimentum, turpis nizzle congue consectetuer, metus libero ghetto purizzle, eget ullamcorper dui mi non quam. Crizzle shiznit tellivizzle.
          .small-6.columns
            h3 How can I help?
            p Check out this condimentizzle mi dizzle i saw beyonces tizzles and my pizzle went crizzle. Pellentesque hendrerit euismizzle mah nizzle. Shizznit ultricizzle nisl break yo neck.

  .row
    .small-12.large-8.large-offset-2.end.columns
      h2 Sponsors
      h4 Interested in 
        b sponsoring
        | ? Contact us at 
        b sponsorship@sdhacks.io

  footer.js-bordered
    .row
      .small-12.large-10.large-offset-1.end.columns
        .row
          .small-4.columns
            img.tesc(src="/assets/img/tesc_white.svg")
          .small-4.columns
            p Made by the SD Hacks team
          .small-4.columns.social-media
            i.fa.fa-facebook-square
            i.fa.fa-twitter
            i.fa.fa-instagram