//- Main Layout of our project

doctype
html(ng-app="sdhacks", lang='en-US')
    head
        meta(charset='UTF-8')
        base(href='/')
        title SD Hacks 2016
        meta(name='description', content='Official Website of SD Hacks 2016')
        meta(name='keywords', content='SD Hacks, 2016, SD Hacks 2016, hackathon, UCSD, UC, University of California San Diego, San Diego')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        //if lt IE 9
          script(src='/assets/bower/bower_components/html5shiv/dist/html5shiv.min.js')
          script(src='/assets/bower/bower_components/respond/dest/respond.min.js')
        link(rel='shortcut icon', href='/assets/img/favicon.png')
        link(rel='stylesheet', href='/assets/css/sdhacks.min.css')
        script(src='/assets/bower/bower_components/jquery/dist/jquery.min.js')

    body
        block content

    script(src='/assets/bower/bower_components/d3/d3.min.js')
    script(src='/assets/bower/bower_components/topojson/topojson.min.js')
    script(src='/assets/bower/bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js')
    script(src='/assets/js/hexagons.js')
    block scripts
    script(src='/assets/js/dist/custom.min.js')
    link(rel='stylesheet', href='/assets/bower/bower_components/font-awesome/css/font-awesome.min.css')
