//- API page for the live site
include ../mixins/footer-live
extends ../layouts/live

block title
  title SD Hacks Live - APIs

block main-content
  .live-api
    .row.live-api__content
      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--image
            img(src='http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg')
            span.live-api__item--image-title Amazon Alexa 1
          .live-api__item--content
            p.live-api__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence
          .live-api__item--action
            a.live-api__item--link(href='#') Learn More

        .live-api__item
          .live-api__item--content
            span.live-api__item--title Amazon Alexa 2
            p.live-api__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.
          .live-api__item--action
            a.live-api__item--link(href='#') Learn More



      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--image
            img(src='http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg')
            span.live-api__item--image-title Amazon Alexa 3
          .live-api__item--content
            p.live-api__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.
          .live-api__item--action
            a.live-api__item--link(href='#') Learn More

      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Amazon Alexa 4
            p.live-api__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.
          .live-api__item--action
            a.live-api__item--link(href='#') Learn More
  +footer-live
