//- Main index page for the live site
include ../mixins/footer

extends ../layouts/live

block title
  title SD Hacks Live

block main-content
  .row.expanded
    .live-content__header
      .live-content
        h1.live-content__main Welcome to SD Hacks
        h2.live-content__sub Countdown

        .countdown-hexes
          .hex#hex-hr
            p Hours
          .hex#hex-min
            p Minutes
          .hex#hex-sec
            p Seconds
  .bordered-live.fixed-border-width
    .row
      .small-12.columns.text-center
        .live-map__header Venue Map
      .small-4.small-offset-4.end.columns.live-map
        img.live-map__image(src="/assets/img/map.png" data-open="live-index-map-modal")
          
          
  .live-schedule.live-schedule--home#schedule
    .row
      .small-12.columns
        .live-schedule__date.small-4.medium-5.end.columns 9.30
        .live-schedule__title.small-5.medium-5.end.columns Friday
        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 4:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Sponsor Registration
            .live-schedule__event--location @ Outside 1st Floor Lobby

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Hacker Registration
            .live-schedule__event--location @ Main Stage

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:30 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Mixer
            .live-schedule__event--location @ RIMAC Field

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Dinner
            .live-schedule__event--location @ Lobby

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 9:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Opening Ceremony
            .live-schedule__event--location @ Main Stage

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 10:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Hacking Begins
            .live-schedule__event--location @ First Floor, Rimac Arena

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 10:30 PM - 12:30 AM
          .small-8.medium-7.columns
            .live-schedule__event--info DragonBoard Workshop
            .live-schedule__event--location @ Green Room

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:30 PM - 1:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Node Workshop
            .live-schedule__event--location @ The Dugout

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:30 PM - 2:30 AM
          .small-8.medium-7.columns
            .live-schedule__event--info VR Workshop
            .live-schedule__event--location @ VR Space

        .live-schedule__date.small-4.medium-5.end.columns 10.1
        .live-schedule__title.small-5.medium-5.end.columns Saturday
        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:30 AM - 6:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info iOS Workshop
            .live-schedule__event--location @ Green Room

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Breakfast
            .live-schedule__event--location @ Lobby

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Lunch
            .live-schedule__event--location @ Lobby

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Dinner
            .live-schedule__event--location @ Lobby

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 8:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Ice Cream Party
            .live-schedule__event--location @ Outside

        .live-schedule__date.small-4.medium-5.end.columns 10.2
        .live-schedule__title.small-5.medium-5.end.columns Sunday
        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 12:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Origami Workshop
            .live-schedule__event--location @ Green Room

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 4:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info MLH Activities
            .live-schedule__event--location @ Green Room

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info MLH Activities
            .live-schedule__event--location @ Green Room

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 7:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Breakfast
            .live-schedule__event--location @ Lobby

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 10:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Hacks Due
            .live-schedule__event--location @ First Floor, Rimac Arena

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 10:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Early Lunch
            .live-schedule__event--location @ Outside

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 11:00 AM
          .small-8.medium-7.columns
            .live-schedule__event--info Initial Demoes
            .live-schedule__event--location @ First Floor, Rimac Arena

        .live-schedule__event.row
          .live-schedule__event--time.text-right.small-3.small-offset-1.medium-2.medium-offset-3.columns 1:00 PM
          .small-8.medium-7.columns
            .live-schedule__event--info Closing Ceremony
            .live-schedule__event--location @ Main Stage
            
  +footer.fixed-border-width
  include ../mixins/modals/live-index-map
