//- Prizes page for the live site
include ../mixins/footer

extends ../layouts/live

block title
  title SD Hacks Live - Prizes

block main-content
  .live-prizes__content
    .row.expanded
      .live-content__header
        .live-content
          h1.live-content__main Prizes

    .bordered-live.fixed-border-width
      .row
        .columns
          h2 General Prizes
          // layout for large screens
        .show-for-large
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best in Show
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the overall best hack. Bust out your best hacking skills to win it all!
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Beginner Hack
                p.live-prizes__item--prize
                  | Prize: Amazon Echo
                p.live-prizes__item--paragraph
                  | Is this your first hackathon? Then this prize is for you! Try your best and learn a lot, and you might just walk home with the Best Beginner Hack prize!

          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Most Technically Impressive
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack that is the most technically impressive
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Hardware Hack
                p.live-prizes__item--prize
                  | Prize: Robo3D Printer
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best use of hardware. 

          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Designed
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best overall sense of design. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Use of VR/AR
                p.live-prizes__item--prize
                  | Prize: HTC Vive
                p.live-prizes__item--paragraph
                  | Awarded to the hack that uses VR the best. 

          // layout for medium screens
        .show-for-medium-only
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best in Show
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the overall best hack. Bust out your best hacking skills to win it all!
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Designed
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best overall sense of design. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Beginner Hack
                p.live-prizes__item--prize
                  | Prize: Amazon Echo
                p.live-prizes__item--paragraph
                  | Is this your first hackathon? Then this prize is for you! Try your best and learn a lot, and you might just walk home with the Best Beginner Hack prize!

          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Most Technically Impressive
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack that is the most technically impressive
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Hardware Hack
                p.live-prizes__item--prize
                  | Prize: Robo3D Printer
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best use of hardware.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Use of VR/AR
                p.live-prizes__item--prize
                  | Prize: HTC Vive
                p.live-prizes__item--paragraph
                  | Awarded to the hack that uses VR the best. 
          
        // layout for small creens
        .show-for-small-only
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best in Show
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the overall best hack. Bust out your best hacking skills to win it all!
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Most Technically Impressive
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack that is the most technically impressive
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Designed
                p.live-prizes__item--prize
                  | Prize: Customized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best overall sense of design. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Beginner Hack
                p.live-prizes__item--prize
                  | Prize: Amazon Echo
                p.live-prizes__item--paragraph
                  | Is this your first hackathon? Then this prize is for you! Try your best and learn a lot, and you might just walk home with the Best Beginner Hack prize!
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Hardware Hack
                p.live-prizes__item--prize
                  | Prize: Robo3D Printer
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best use of hardware. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Use of VR/AR
                p.live-prizes__item--prize
                  | Prize: HTC Vive
                p.live-prizes__item--paragraph
                  | Awarded to the hack that uses VR the best.         
            
  hr
  .live-api
    .row.live-api__content
      .columns
        h2 Sponsored Prizes
      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Best IoT Hack
            p.live-prizes__item--prize
              | Prize: Amazon Echo
            p.live-api__item--paragraph
              | Best Internet of Things hack, presented by the Qualcomm Institute
          .live-api__item--action
            a Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Best Use of DragonBoard
            p.live-prizes__item--prize
              | Prize: TBD
            p.live-api__item--paragraph
              | Use the dragonboard, presented by Qualcomm again
          .live-api__item--action
            a Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Docusign
            p.live-prizes__item--prize
              | Prize: DJI Drone and Amazon Echo
            p.live-api__item--paragraph
              | Awarded to the team with the best use of the DocuSign API
          .live-api__item--action
            a(href="//docusign.com/developer-center/" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Domain.com
            p.live-prizes__item--prize
              | Prize: Domain.com Swag Bag
            p.live-api__item--paragraph
              | Awarded to the team with the best domain name from Domain.com
          .live-api__item--action
            a(href="//domain.com/" target="_blank") Learn More
      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Twitch Moderation Challenge
            p.live-prizes__item--prize
              | Prize: TBD
            p.live-api__item--paragraph
              | We’re looking for a bot that anyone can use to make chat more fun. 
              | We’ve seen games, we’ve seen song requests, we’ve seen loyalty points, 
              | but we haven’t seen anything that creates content.
              | What kind of content would make chat more fun, and how could a bot find it and surface it?
          .live-api__item--action
            a(href="//dev.twitch.tv/" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Most Entrepreneurially Promising Hack
            p.live-prizes__item--prize
              | Prize: $10K in free legal services
            p.live-api__item--paragraph
              | Awarded to the hack with the most enterpreneurial promise, 
              | decided by members of Perkins Coie. 
          .live-api__item--action
            a Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title General Atomics
            p.live-prizes__item--prize
              | Prize: $1000 in Amazon Gift Cards per team
            p.live-api__item--paragraph
              | Some kind of hack involving General Atomics
          .live-api__item--action
            a Learn More
      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Hack that Best Connects Us
            p.live-prizes__item--prize
              | Prize: $600/$500/$400 per team for top 3 in this category
            p.live-api__item--paragraph
              | ViaSat’s mission is to connect the world; our company-sponsored prize will be for those projects we think are best in line with our mission.
          .live-api__item--action
            a Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title SPAWAR
            p.live-prizes__item--prize
              | Prize: TBD
            p.live-api__item--paragraph
              | SPAWAR info here
          .live-api__item--action
            a Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title HackHarassment
            p.live-prizes__item--prize
              | Prize: TBD
            p.live-api__item--paragraph
              | Build a software solution that can help reduce the frequency and/or severity of online harassment.
          .live-api__item--action
            a Learn More
  +footer.fixed-border-width
