//- Prizes page for the live site
include ../mixins/footer-live
extends ../layouts/live

block title
  title SD Hacks Live - Prizes

block main-content
  .live-prizes
    .row.live-prizes__content
      .columns.large-4.medium-6.small-12
        .live-prizes__item
          .live-prizes__item--content
            span.live-prizes__item--title Best Overall Hack
            p.live-prizes__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence
          .live-prizes__item--action
            a.live-prizes__item--link(href='#') Learn More

        .live-prizes__item
          .live-prizes__item--image
            img(src='http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg')
            span.live-prizes__item--image-title Most Technically Impressive
          .live-prizes__item--content
            p.live-prizes__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.
          .live-prizes__item--action
            a.live-prizes__item--link(href='#') Learn More

      .columns.large-4.medium-6.small-12
        .live-prizes__item
          .live-prizes__item--image
            img(src='http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg')
            span.live-prizes__item--image-title Best Designed Hack
          .live-prizes__item--content
            p.live-prizes__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.
          .live-prizes__item--action
            a.live-prizes__item--link(href='#') Learn More

      .columns.large-4.medium-6.small-12
        .live-prizes__item
          .live-prizes__item--image
            img(src='http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg')
            span.live-prizes__item--image-title Best Dressed
          .live-prizes__item--content
            p.live-prizes__item--paragraph
              | I shall be telling this with a sigh . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.
          .live-prizes__item--action
            a.live-prizes__item--link(href='#') Learn More
  +footer-live
