//- Prizes page for the live site
include ../mixins/footer

extends ../layouts/live

block title
  title SD Hacks Live - Prizes

block main-content
  .live-prizes__content
    .row.expanded
      .live-content__header
        .live-content
          h1.live-content__main Prizes

    .bordered-live.fixed-border-width
      .row
        .columns
          h2 General Prizes
          // layout for large screens
        .show-for-large
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best in Show
                p.live-prizes__item--prize
                  | Prize: Monitors + Personalized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the overall best hack. Judging is based on complexity, functionality, innovation, as well as design.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Beginner Hack
                p.live-prizes__item--prize
                  | Prize: Arduino Kit
                p.live-prizes__item--paragraph
                  | Awarded to the best hack from a first time hacker team.
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Most Technically Impressive
                p.live-prizes__item--prize
                  | Prize: Mechanical Keyboards + Personalized Sweatshirts 
                p.live-prizes__item--paragraph
                  | Awarded to the most technically impressive hack.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Hardware Hack
                p.live-prizes__item--prize
                  | Prize: Robo3D Printer
                p.live-prizes__item--paragraph
                  | Awarded to the most innovative and creative use of hardware in a hack.

          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Designed
                p.live-prizes__item--prize
                  | Prize: Wacom Tablets + Personalized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best overall sense of design. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Use of VR/AR
                p.live-prizes__item--prize
                  | Prize: HTC Vive
                p.live-prizes__item--paragraph
                  | Awarded to the hack that utilizes Virtual Reality or Augmented Reality in the most innovative way. 

          // layout for medium screens
        .show-for-medium-only
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best in Show
                p.live-prizes__item--prize
                  | Prize: Monitors + Personalized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the overall best hack. Judging is based on complexity, functionality, innovation, as well as design.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Designed
                p.live-prizes__item--prize
                  | Prize: Wacom Tablets + Personalized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best overall sense of design. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Beginner Hack
                p.live-prizes__item--prize
                  | Prize: Arduino Kit
                p.live-prizes__item--paragraph
                  | Awarded to the best hack from a first time hacker team.

          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Most Technically Impressive
                p.live-prizes__item--prize
                  | Prize: Mechanical Keyboards + Personalized Sweatshirts 
                p.live-prizes__item--paragraph
                  | Awarded to the most technically impressive hack.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Hardware Hack
                p.live-prizes__item--prize
                  | Prize: Robo3D Printer
                p.live-prizes__item--paragraph
                  | Awarded to the most innovative and creative use of hardware in a hack.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Use of VR/AR
                p.live-prizes__item--prize
                  | Prize: HTC Vive
                p.live-prizes__item--paragraph
                  | Awarded to the hack that utilizes Virtual Reality or Augmented Reality in the most innovative way. 
          
        // layout for small creens
        .show-for-small-only
          .columns.large-4.medium-6.small-12
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best in Show
                p.live-prizes__item--prize
                  | Prize: Monitors + Personalized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the overall best hack. Judging is based on complexity, functionality, innovation, as well as design.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Most Technically Impressive
                p.live-prizes__item--prize
                  | Prize: Mechanical Keyboards + Personalized Sweatshirts 
                p.live-prizes__item--paragraph
                  | Awarded to the most technically impressive hack.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Designed
                p.live-prizes__item--prize
                  | Prize: Wacom Tablets + Personalized Sweatshirts
                p.live-prizes__item--paragraph
                  | Awarded to the hack with the best overall sense of design. 
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Beginner Hack
                p.live-prizes__item--prize
                  | Prize: Arduino Kit
                p.live-prizes__item--paragraph
                  | Awarded to the best hack from a first time hacker team.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Hardware Hack
                p.live-prizes__item--prize
                  | Prize: Robo3D Printer
                p.live-prizes__item--paragraph
                  | Awarded to the most innovative and creative use of hardware in a hack.
            .live-prizes__item
              .live-prizes__item--content
                span.live-prizes__item--title Best Use of VR/AR
                p.live-prizes__item--prize
                  | Prize: HTC Vive
                p.live-prizes__item--paragraph
                  | Awarded to the hack that utilizes Virtual Reality or Augmented Reality in the most innovative way. 
            
  hr
  .live-api
    .row.live-api__content
      .columns
        h2 Sponsored Prizes
      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Best IoT Hack
            p.live-prizes__item--prize
              | Prize: Amazon Echo
            p.live-api__item--paragraph
              | Most innovative hack that utilizes the Internet of Things, presented by the Qualcomm Institute.
          .live-api__item--action
            a(href="//qi.ucsd.edu"  target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Best Use of DragonBoard
            p.live-prizes__item--prize
              | Prize: DragonBoard
            p.live-api__item--paragraph
              | Most innovative and creative use of the Qualcomm DragonBoard, sponsored by Qualcomm.
          .live-api__item--action
            a(href="//developer.qualcomm.com/hardware/dragonboard-810" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Docusign
            p.live-prizes__item--prize
              | Prize: DJI Drone and Amazon Echo
            p.live-api__item--paragraph
              | Awarded to the team with the best use of the DocuSign API.
          .live-api__item--action
            a(href="//docusign.com/developer-center/" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Domain.com
            p.live-prizes__item--prize
              | Prize: Domain.com Swag Bag
            p.live-api__item--paragraph
              | Awarded to the team with the best domain name from Domain.com.
          .live-api__item--action
            a(href="//domain.com/" target="_blank") Learn More
      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Twitch Moderation Challenge
            p.live-prizes__item--prize
              | Prize: $300/$150/$50 per person for top 3
            p.live-api__item--paragraph
              | We’re looking for a bot that anyone can use to make chat more fun. 
              | We’ve seen games, we’ve seen song requests, we’ve seen loyalty points, 
              | but we haven’t seen anything that creates content.
              | What kind of content would make chat more fun, and how could a bot find it and surface it?
              | Sign up <a href="http://link.twitch.tv/Hackathon2016AWS" target="_blank">here</a> to claim
              | $100 in AWS credit to start hacking!
          .live-api__item--action
            a(href="//github.com/DallasNChains/twitch-js-chatbot-example" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Most Entrepreneurially Promising Hack
            p.live-prizes__item--prize
              | Prize: $10K in free legal services regarding the formation a new tech company
            p.live-api__item--paragraph
              | Awarded to the hack with the most enterpreneurial promise, 
              | decided by members of Perkins Coie. 
          .live-api__item--action
            a(href="//www.perkinscoie.com/" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title General Atomics
            p.live-prizes__item--prize
              | Prize: $1000 in cash per team
            p.live-api__item--paragraph
              | Awarded to the team with the most innovative use of Arduino hardware.
          .live-api__item--action
            a(href="//www.ga.com" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Data Privacy Hack
            p.live-prizes__item--prize
              | Prize: Collectors Edition of Watchdogs 2
            p.live-api__item--paragraph
              | Everything is part of the internet of things now - from your phone to your fitness band to your thermostat. Build a hack that utilizes private data being collected from your devices, and show how you can turn potential vulnerabilities into something constructive.


      .columns.large-4.medium-6.small-12
        .live-api__item
          .live-api__item--content
            span.live-api__item--title Hack that Best Connects Us
            p.live-prizes__item--prize
              | Prize: $600/$500/$400 per team for top 3 in this category
            p.live-api__item--paragraph
              | ViaSat’s mission is to connect the world; our company-sponsored prize will be for those projects we think are best in line with our mission.
          .live-api__item--action
            a(href="//www.viasat.com" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title 
              a(href="http://www.public.navy.mil/spawar/Pacific/BEMR/Pages/default.aspx" target="_blank") SPAWAR
            p.live-prizes__item--prize
              | Prize: Career Interview
            p.live-api__item--paragraph
              | Productivity: create a VR experience that helps people complete regular tasks more efficiently through VR.<br><br>
            p.live-api__item--paragraph
              | Training: create a VR experience that teaches a specific skill, such as assembling a jet engine.<br><br>
            p.live-api__item--paragraph
              | Data Visualization: create a VR experience that uses 3D space to visualize data in an interesting way.
          .live-api__item--action
            a(href="//www.youtube.com/watch?v=rLDqcNAyVm8" target="_blank") Learn More
        .live-api__item
          .live-api__item--content
            span.live-api__item--title HackHarassment
            p.live-prizes__item--prize
              | Prize: HackHarassment Swag Bag
            p.live-api__item--paragraph
              | Build a software solution that can help reduce the frequency and/or severity of online harassment.
          .live-api__item--action
            a(href="//www.hackharassment.com" target="_blank") Learn More
  +footer.fixed-border-width
