mixin footer
  footer.js-bordered
    .bordered--bg.bg-top.footer-bg
    .row
      .medium-12.columns.hide-for-large
        h5 Convinced now?
        a.js-apply-form__open(class="button") Apply for SD Hacks 2016
    .row
      .small-12.large-10.large-offset-1.end.columns
        .row
          .small-6.large-4.columns.aligned
            img.tesc(src="/assets/img/tesc_white.svg")
          .show-for-large.large-4.columns
            p Convinced now?
            a.js-apply-form__open(class="button") Apply for SD Hacks 2016
          .small-6.large-4.columns.social-media.aligned
            a(href="https://www.facebook.com/SDHacks/")
              i.fa.fa-facebook-square
            a(href="mailto:hello@sdhacks.io")
              i.fa.fa-envelope
            a(href="https://twitter.com/sdhacks")
              i.fa.fa-twitter