mixin footer-live
  footer.footer-live
    .row
      .small-12.large-12.columns
        .row
          .small-6.large-4.columns.aligned
            img.tesc(src="/assets/img/tesc_white.svg")
          .small-6.large-4.columns.social-media.aligned
            a(href="https://www.facebook.com/SDHacks/")
              i.fa.fa-facebook-square
            a(href="mailto:hello@sdhacks.io")
              i.fa.fa-envelope
            a(href="https://twitter.com/sdhacks")
              i.fa.fa-twitter
