mixin fill(className)
  path(class=className, fill-rule="evenodd", clip-rule="evenodd", d="M430.158,250.717c0,23.862,0.305,47.729-0.08,71.584 \
    c-0.445,27.673-12.15,49.973-35.595,64.593c-26.389,16.456-53.708,31.419-80.634,47.013c-16.027,9.282-32.118,18.456-48.104,27.811 \
    c-12.968,7.589-27.104,9.459-41.764,8.965c-12.913-0.435-24.452-4.973-35.629-11.242c-41.449-23.252-82.496-47.2-123.5-71.214 \
    c-23.707-13.885-36.845-35.593-37.421-62.737c-1.06-49.927-1.054-99.907-0.008-149.833c0.582-27.787,14.338-49.503,38.504-63.693 \
    c37.902-22.255,75.962-44.248,114.169-65.977c9.048-5.146,17.899-11.002,28.318-13.431c21.374-4.983,41.704-2.535,60.802,8.504 \
    c41.477,23.974,83.179,47.572,124.286,72.165c23.767,14.219,35.74,36.491,36.511,64.057 \
    C430.699,201.741,430.158,226.237,430.158,250.717z")

mixin fill-image(poolid)
  pattern(id="image-pool#{poolid}", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
    path(style="fill: url(/#pool#{poolid});", fill-rule="evenodd", clip-rule="evenodd", d="M430.158,250.717c0,23.862,0.305,47.729-0.08,71.584 \
      c-0.445,27.673-12.15,49.973-35.595,64.593c-26.389,16.456-53.708,31.419-80.634,47.013c-16.027,9.282-32.118,18.456-48.104,27.811 \
      c-12.968,7.589-27.104,9.459-41.764,8.965c-12.913-0.435-24.452-4.973-35.629-11.242c-41.449-23.252-82.496-47.2-123.5-71.214 \
      c-23.707-13.885-36.845-35.593-37.421-62.737c-1.06-49.927-1.054-99.907-0.008-149.833c0.582-27.787,14.338-49.503,38.504-63.693 \
      c37.902-22.255,75.962-44.248,114.169-65.977c9.048-5.146,17.899-11.002,28.318-13.431c21.374-4.983,41.704-2.535,60.802,8.504 \
      c41.477,23.974,83.179,47.572,124.286,72.165c23.767,14.219,35.74,36.491,36.511,64.057 \
      C430.699,201.741,430.158,226.237,430.158,250.717z")