include fill
include stroke

mixin hero
  a#mlh-trust-badge(style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white" target="_blank")
    img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.png" alt="Major League Hacking 2017 Hackathon Season" style="width:100%")
  .hero
    svg
      defs

        pattern(id="pool1", width="100", height="100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/bNQyo8X.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")
        pattern(id="pool2", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/YGknt0Z.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")          
        pattern(id="pool3", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/InD5kg5.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")
        pattern(id="pool4", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/z9NMglT.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")          
        pattern(id="pool5", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/5elkKM7.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")
        pattern(id="pool6", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/8rr7h3n.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")          
        pattern(id="pool7", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/4vYe1IL.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")
        pattern(id="pool8", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="http://i.imgur.com/xTurHfg.jpg", width="100", height="100", preserveAspectRatio="xMidYMid")   


        pattern(id="logo", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="/assets/img/logo.svg", width="100", height="100", preserveAspectRatio="xMidYMid")
        pattern(id="filled", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
          +stroke
          +fill('hero__hexagon--filled-colour')
        pattern(id="empty", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
          +stroke
          +fill('hero__hexagon--empty-colour')
        pattern(id="hover", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
          +stroke
          +fill('hero__hexagon--hover-colour')
        pattern(id="border", viewBox="0 0 457 250", preserveAspectRatio="xMidYMin slice", patternUnits="userSpaceOnUse", patternContentUnits="objectBoundingBox")
          path(class="hero__hexagon--border-colour", fill-rule="evenodd", clip-rule="evenodd", d="M457,0v232.71c-16.572,0.56-27.708-1.646-42.367-10.224c-18.07-10.575-36.262-20.945-54.381-31.438 \
            c-29.75-17.229-59.926-33.776-89.129-51.888c0,0-23.456-12.66-42.623-12.66c-16.5,0-42.623,12.66-42.623,12.66 \
            c-29.203,18.109-59.379,34.658-89.129,51.888c-18.119,10.493-36.31,20.863-54.381,31.438C27.708,231.064,16.572,233.27,0,232.71V0")
    svg.js-background-mesh.hero__background-mesh(height="150px")
      rect(class="hero__hexagon--border", width="100%", height="97px")
    .hero__content
      h1 SEPT 30 - OCT 2, 2016
      h2 Rimac Arena, UC San Diego
      //- a(href="http://eepurl.com/b81LuP", target="_tab", class="button large") Get Updates!
      .buttons
        form#update_signup.btn.validate(action="//sdhacks.us9.list-manage.com/subscribe/post?u=2b76757d9b200f72632d7330a&amp;id=c99e3caa24" method="post" target="_blank" novalidate)
          div(style="position: absolute; left: -5000px;" aria-hidden="true")
            input(type="text" name="b_2b76757d9b200f72632d7330a_c99e3caa24" tabindex="-1" value="")
          input#sdhx-email.email-input(type="email" value="" name="EMAIL" placeholder="Email" required autocomplete="off")
          input#sdhx-subscribe.subscribe-button(type="submit" name="subscribe" value="Get Updates!")
        a.btn.sponsor#sponsor(href="mailto:sponsor@sdhacks.io") Sponsor
        //-a(href="#", data-open="applyModal", class="button large") Apply
        //- a(href="mailto:sponsor@sdhacks.io", class="button large") Sponsor
