include fill
include stroke

mixin hero
  .hero
    svg
      defs
        pattern(id="logo", width="1", height="1", viewBox="0 0 100 100", preserveAspectRatio="xMidYMid")
          +stroke
          image(xlink:href="/assets/img/logo.png", width="100", height="100", preserveAspectRatio="xMidYMid")
        pattern(id="filled", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
          +stroke
          +fill('hero__hexagon--filled-colour')
        pattern(id="empty", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
          +stroke
          +fill('hero__hexagon--empty-colour')
        pattern(id="hover", width="1", height="1", viewBox="0 0 457 500", preserveAspectRatio="xMidYMid meet")
          +stroke
          +fill('hero__hexagon--hover-colour')
        pattern(id="border", width="191px", height="97px", viewBox="0 0 457 250", preserveAspectRatio="xMidYMin slice", patternUnits="userSpaceOnUse", patternContentUnits="objectBoundingBox")
          path(class="hero__hexagon--border-colour", fill-rule="evenodd", clip-rule="evenodd", d="M457,0v232.71c-16.572,0.56-27.708-1.646-42.367-10.224c-18.07-10.575-36.262-20.945-54.381-31.438 \
            c-29.75-17.229-59.926-33.776-89.129-51.888c0,0-23.456-12.66-42.623-12.66c-16.5,0-42.623,12.66-42.623,12.66 \
            c-29.203,18.109-59.379,34.658-89.129,51.888c-18.119,10.493-36.31,20.863-54.381,31.438C27.708,231.064,16.572,233.27,0,232.71V0")
    svg.js-background-mesh.hero__background-mesh(height="150px")
      rect(class="hero__hexagon--border", width="100%", height="97px")
    .hero__content
      h1 SEPT 30 - OCT 2, 2016
      h2 Rimac Arena, UC San Diego
      a(href="#", data-open="applyModal", class="button large") Apply
      a(href="#", class="button large") Sponsor

  script(src='/assets/bower/bower_components/d3/d3.min.js')
  script(src='/assets/bower/bower_components/topojson/topojson.min.js')
  script(src='/assets/bower/bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js')
  script(src='/assets/js/hexagons.js')