mixin stroke
     rect(class="hero__hexagon--stroke", width="457" height="540", y="-20")

mixin bottom-stroke
     path(class="hero__hexagon--stroke", d="M156.818,12.246c1.236,0,2.467,0.073,3.675,0.234c7.53,0,21.907,3.835,21.907,3.835l52.271,30.738 \
          c57.602,31.072,60.813,38.589,60.813,38.589c9.029,9.856,13.461,26.561,13.461,26.561v124.288 \
          c-5.016,19.711-20.146,34.746-20.146,34.746l-100.736,59.137c-13.154,5.734-22.399,6.412-26.037,6.412 \
          c-1.125,0-1.714-0.066-1.714-0.066c-7.53,0-21.897-3.832-21.897-3.832l-52.25-30.738c-57.6-31.072-60.771-38.59-60.771-38.59 \
          c-9.028-9.855-13.375-26.561-13.375-26.561V112.71c4.347-19.712,20.063-34.747,20.063-34.747l100.648-59.136 \
          C132.729,18.827,145.067,12.246,156.818,12.246 M156.818,0.246L156.818,0.246 M0.017,0L0,348.45h320.947L320.621,0")