//- Show one User

extends ../../layouts/simple

block title
  title SD Hacks 2016 - Resume Browser

block left-content
  h3 #{sponsor.companyName}
  h5 Resume Browser

block right-content
  .row
    .small-12.columns
      p Total Resumes: 
        span#js-filter-total
        |  (
        span#js-filter-selected
        |  selected)
      input#js-filter-download(type="button", class="button primary", value="Download")

    //- .small-12.columns.hide-for-medium.sponsor-jump
    //-   h4 Jump to...
    //-   a(href="#universities") Universities
    //-   a(href="#majors") Majors
    //-   a(href="#graduation") Graduation
    //-   a(href="#gender") Gender
    .small-12.medium-4.columns#js-filter-university
      h3(name="universities") Universities
      div#js-filter-university-fields
        a#js-university-select-all 
          h6 Select All
        a#js-university-select-none 
          h6 Select None
        h5 Filter by:
          a#js-university-most-common 
            h6 Most Common
          a#js-university-least-common
            h6 UCs and CSUs
    .small-12.medium-4.columns#js-filter-major
      h3(name="majors") Majors
      div
        a#js-major-select-all 
          h6 Select All
        a#js-major-select-none 
          h6 Select None
    .small-12.medium-4.columns
      #js-filter-year
        h3(name="graduation") Graduation
      br
      #js-filter-gender
        h3(name="gender") Gender