//- Show one User

extends ../../layouts/simple

block title
  title SD Hacks 2016 - Resume Browser

block left-content
  h3 #{sponsor.companyName}
  h5 Resume Browser
  p Instructions: Use the filters in the top right to filter out your desired resumes. Then click "Download" to download the resumes. Note that the files will be zipped and this may take up to 30 seconds to prepare.

block right-content
  .row.resume-browser.resume-browser--top
    .small-5.columns
      p Total Resumes: 
        span#js-filter-total
        |  (
        span#js-filter-selected
        |  selected)
      input#js-filter-download(type="button", class="button primary", value="Download")
      span#download-msg
      a.button.inactive#js-select-everything Select Everything
      a.button.inactive#js-select-nothing Select Nothing

    .small-7.columns
      p Show Filters:
      a.button#js-show-university Universities
        span.selected
      a.button#js-show-major Majors
        span.selected
      a.button#js-show-year Graduation Year
        span.selected
      a.button#js-show-gender Gender
        span.selected
      p#errors
 
  .row.resume-browser.resume-browser--content
    .small-12.medium-5.columns#university-wrapper
      h3(name="universities") Universities
      div#js-filter-university-fields
        a.button.inactive#js-university-select-all Select All
        a.button.inactive#js-university-select-none Select None
        h5 Sort by:
          br
          a.button.inactive#js-university-most-common Most Common
          a.button.inactive#js-university-alphabetical Alphabetical
        h5 Search: 
          input#js-university-search(type="text" placeholder="University Name")
      #js-filter-university
    .small-12.medium-4.columns#major-wrapper
      h3(name="majors") Majors
      div#js-filter-major-fields
        a.button.inactive#js-major-select-all Select All
        a.button.inactive#js-major-select-none Select None
        h5 Sort by:
          br
          a.button.inactive#js-major-most-common Most Common
          a.button.inactive#js-major-alphabetical Alphabetical        
        h5 Search:
          input#js-major-search(type="text" placeholder="Major")
      #js-filter-major
    .small-12.medium-3.columns

      div#graduation-wrapper
        h3(name="graduation") Graduation
        a.button.inactive#js-year-select-all Select All
        a.button.inactive#js-year-select-none Select None
        #js-filter-year
      div#gender-wrapper

        h3(name="gender") Gender      
        a.button.inactive#js-gender-select-all Select All
        a.button.inactive#js-gender-select-none Select None
        #js-filter-gender
