//- Show one User

extends ../../layouts/simple

block title
  title SD Hacks 2016 - Resume Browser

block left-content
  h3 #{sponsor.companyName}
  h5 Resume Browser

block right-content
  .row.resume-browser.resume-browser--top
    .small-12.columns
      p Total Resumes: 
        span#js-filter-total
        |  (
        span#js-filter-selected
        |  selected)
      input#js-filter-download(type="button", class="button primary", value="Download")
      a.button.inactive#js-select-everything Select Everything
      a.button.inactive#js-select-nothing Select Nothing
 
    //- .small-12.columns.hide-for-medium.sponsor-jump
    //-   h4 Jump to...
    //-   a(href="#universities") Universities
    //-   a(href="#majors") Majors
    //-   a(href="#graduation") Graduation
    //-   a(href="#gender") Gender
  .row.resume-browser.resume-browser--content
    .small-12.medium-5.columns
      h3(name="universities") Universities
      div#js-filter-university-fields
        a.button.inactive#js-university-select-all Select All
        a.button.inactive#js-university-select-none Select None
        h5 Filter by:
          br
          a.button.inactive#js-university-most-common Most Common
          a.button.inactive#js-university-alphabetical Alphabetical
      #js-filter-university
    .small-12.medium-4.columns
      h3(name="majors") Majors
      div#js-filter-major-fields
        a.button.inactive#js-major-select-all Select All
        a.button.inactive#js-major-select-none Select None

        h5 Filter by:
          br
          a.button.inactive#js-major-most-common Most Common
          a.button.inactive#js-major-alphabetical Alphabetical
      #js-filter-major
    .small-12.medium-3.columns
      div
        h3(name="graduation") Graduation
        #js-filter-year
      br
      div
        h3(name="gender") Gender      
        #js-filter-gender
